### Tuple

In [97]:
a = 4, 5, 6
a

(4, 5, 6)

In [3]:
astr='a',3,'b','c'
astr

('a', 3, 'b', 'c')

In [1]:
w=('7','a')

In [2]:
#checking type
type(w) # return the type of data

tuple

In [3]:
r1 = ((4, 5, 6), (7, 8))
r1

((4, 5, 6), (7, 8))

In [10]:
l1=[4, 0, 2] # this is list> coma seperated items inside square bracket
l1

[4, 0, 2]

In [11]:
az=tuple(l1)
az

(4, 0, 2)

In [103]:
az[0]

4

In [35]:
az[0]=99 ## Immutability

TypeError: 'tuple' object does not support item assignment

In [104]:
tup = tuple('Elephant')
tup

('E', 'l', 'e', 'p', 'h', 'a', 'n', 't')

In [105]:
tup[0]

'E'

In [36]:
tup = tuple(['fast', [1, 2], True])
tup

('fast', [1, 2], True)

In [9]:
tup[2]

True

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [15]:
tup[2].append(2)
tup

AttributeError: 'bool' object has no attribute 'append'

In [16]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [20]:
tup[0].append(3)
tup

AttributeError: 'str' object has no attribute 'append'

In [4]:
x1=(4, None, 'foo')
x2=(6, 0)
x3=('bar',)
XX=x1+x2+x3

In [5]:
x1

(4, None, 'foo')

In [7]:
XX

(4, None, 'foo', 6, 0, 'bar')

In [112]:
(4, None, 'foo') + (6, 0) + ('bar',) ## Tuple concatenation

(4, None, 'foo', 6, 0, 'bar')

#### Unpacking tuples

In [8]:
tup = (4, 5, 6)
a, b, c = tup

In [9]:
b

5

In [11]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for i in seq:
    print(i[0])
    #print(i)

1
4
7

In [120]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [12]:
values = 1, 2, 3, 4, 5
a, b, *remain = values
a, b
remain # remaining member after a and b, return as list assigned in variable rest

[3, 4, 5]

#### Tuple methods

In [158]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [134]:
sum(a)

16

In [33]:
len(a)

7

### List

In [132]:
a1 = [2, 3, 7, 'None']
a1

[2, 3, 7, 'None']

In [21]:
tup = ('full', 'half', 'quarter')
b = list(tup)
b

['full', 'half', 'quarter']

In [22]:
b[0] = "can't handle" ## List is mutable
b

["can't handle", 'half', 'quarter']

In [13]:
range(10)

range(0, 10)

In [140]:
g = range(10)
g
list(g)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adding and removing elements

In [23]:
b.append("Teacher's")
b

["can't handle", 'half', 'quarter', "Teacher's"]

In [24]:
b.insert(1, 'red label')
b

["can't handle", 'red label', 'half', 'quarter', "Teacher's"]

In [25]:
b.pop(2)
b

["can't handle", 'red label', 'quarter', "Teacher's"]

In [26]:
b.append('like')
b

["can't handle", 'red label', 'quarter', "Teacher's", 'like']

In [27]:
b.remove('like')
b

["can't handle", 'red label', 'quarter', "Teacher's"]

In [60]:
'red label' in b

True

In [61]:
'like' not in b_list

True

### Concatenating and combining lists

In [44]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [46]:
x = [4, None, 'ful']
x.extend([7, 8, (2, 3)]) ## Same as adding
x

[4, None, 'ful', 7, 8, (2, 3)]

#### Sorting

In [62]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [144]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort()# sort in alphabetical order
b

['He', 'foxes', 'saw', 'six', 'small']

In [143]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) ## Sort according to lenth of each elements
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing

In [42]:
set1 = [7, 2, 3, 7, 5, 6, 0, 1]
set1[1:5]

[2, 3, 7, 5]

In [43]:
set1[3:5] = [6,3]
set1

[7, 2, 3, 6, 3, 6, 0, 1]

In [39]:
#set1[3:4] = [6,3]
#set1   ### What is happening check yourself?

[7, 2, 3, 6, 3, 3, 6, 0, 1]

In [44]:
set1[:5]

[7, 2, 3, 6, 3]

In [45]:
set1[3:]

[6, 3, 6, 0, 1]

In [68]:
set1[-4:]

[5, 6, 0, 1]

In [69]:
set1[-6:-2]

[6, 3, 5, 6]

In [157]:
set1

['foo', 'bar', 'baz']

In [147]:
set1[::2]  ## Be careful !! What is happening here?

[7, 3, 5, 0]

In [71]:
set1[::-1]## such beutiful code! Wow!!

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### zip

In [46]:
set1 = ['foo', 'bar', 'baz']
set2 = ['one', 'two', 'three']
zipped = zip(set1, set2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [47]:
zipped

#### reversed

In [48]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [51]:
#empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4],'c':999}
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 999}

In [52]:
d1['b']

[1, 2, 3, 4]

In [53]:
d1['a']

'some value'

In [54]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 999, 7: 'an integer'}

In [79]:
d1
d1['b']

[1, 2, 3, 4]

In [80]:
'b' in d1

True

In [81]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [55]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 'c': 999,
 7: 'an integer',
 'dummy': 'another value'}

In [56]:
del d1[7]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 999, 'dummy': 'another value'}

In [57]:
ret = d1.pop('dummy')
ret ## It gives the member  which is removed
#d1

'another value'

In [58]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 999}

In [154]:
ret

'another value'

In [59]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [60]:
d1.values()

dict_values(['some value', [1, 2, 3, 4], 999])

In [61]:
list(d1.keys())

['a', 'b', 'c']

In [62]:
list(d1.values())

['some value', [1, 2, 3, 4], 999]

#### Anonymous (Lambda) Functions

def sqr(x): 
return x ** 2
     
##### sqr = lambda x: x **2